# poke-monitor
[Unit]
Description=Poke connected DP and HDMI displays after suspend
After=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target

# We must run as the user that is active in the GUI desktop session. Usually your user (UID 1000)
[Service]
User=%I
Group=%I
ExecStart=__BIN_DIR__/poke-monitor auto

[Install]
WantedBy=suspend.target hibernate.target hybrid-sleep.target suspend-then-hibernate.target
